/*  구글 웹폰트 로딩  */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
body {
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
}
a{
    text-decoration: none;
    color: #e7e6e3;
}
.en {
    font-family: 'Exo 2', sans-serif;
}
br.mo {
    display: none;
}
.button{
    font-family: RixSGo, monospace;
    margin-top: 40px;
    background-color: #d1363a;
    font-size: 14px;
    line-height: 22px;
    padding: 10px 30px;
    border: 0;
    border-radius: 32px;
    text-align: center;
    color: #e7e6e3; 
    letter-spacing: .025em;
    font-weight: 600;
    
    display: inline-block;
    position: relative;
    overflow: hidden;

    
}
.button::after{
    content: ' ';
    display: block;
    width: 100%;
    height: 0%;
    background: rgba(43,42,41,0.5);
    position: absolute;
    left: 0;
    bottom: -10px;
    transform: rotate(-5deg);
    transition: 0.6s;
}
.button:hover {
    text-decoration: underline;

}
.button:hover::after{
    height: 150%;
    
}
.video-div{
    position: relative;
}
.video-div video{
    width: 100%;
}
.video-div .video-content{
    float: left;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30%;
    
}
.video-div .video-content>.video-text{
    display: block;
    background: #d1363a;
    color: #e7e6e3;
    border-radius: 0%;
    height: fit-content;
    width: fit-content;
    padding: 10px 30px;
}
.video-div .video-content>h1{
    letter-spacing: .1em;
    margin-top: 40px;
    color: #e7e6e3;
    font-size: 5rem;
    line-height: 1.1;
    font-weight: 800;
    text-align: center;
}
.way{
    
    color:#2b2a29;
   margin: 10px auto 50px;
   max-width: 953.333px;
    
}
.way h1{
    text-align: center;
    font-size: 4rem;
    line-height: 1.156;
    font-weight: 800;
    margin-top: 40px;

}
.way p{
    text-align: center;
    display: block;
    color:#2b2a29;
    font-weight: 400;
    font-size: 1.375rem;
    line-height: 1.636;
    margin-top: 20px;
}

.middle{
    background: url('https://www.riotgames.com/assets/img/structure/6d79447d110ef217a5a784efe55ba29b/texture-light@2x.jpg') no-repeat center/cover fixed;
    z-index: auto;

}
.middle h2{
    font-size: 4rem;
    line-height: 1.156;
    text-align: center;
    font-weight: 800;
    position: relative;
    
}

.middle .middle-title>h2::before{
    content: ' ';
    width: 440px;
    height: 335px;
    
    background: url('https://www.riotgames.com/assets/img/content/ff3b2a8ca8bf986b1a1ac7437232e9dc/sketch-ahri.jpg') no-repeat center/cover;
    position: absolute;
    top: 40px;
    right: 0;
    z-index: 10;

}

.value {
    /* border: 1px solid #e7e6e3; */
    display: flex;
    
    margin-top: 40px;
    background: url('https://www.riotgames.com/darkroom/1600/4569f3a7237917807fecf57cb1080abd:edd4312be401375eb60a75b6f78fe527/riot-lax-glhf.png') no-repeat center/cover fixed;
    align-content:stretch;
    height: 800px;
    justify-content: center;
    z-index: 10;
    position: relative;
    width: 100%;
    
}
.middle .value .item{
    border: 0.1px solid #e7e6e3;
    display: flex;
    justify-content: center;
    
    align-items: center;
    flex: 1;
    font-size: 2em;
    font-weight: bold;
    z-index: 4;
}


/* img-box */
.img-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 40px auto;
}

.img{
    width: 80%;
    float: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
}
.img:last-child{
    flex-direction: row-reverse;
}
.img img{
    flex: 1;
    width: 555px;
    padding: 40px;
}
.img .imgContent{
    flex: 1;
}

.imgContent{
    margin-left: 100px;
    color: #2b2a29;
    
}
.imgContent h3{
    font-size: 2.75rem;
    line-height: 1.227;
    font-weight: 800;
    display: block;
    margin-bottom: 40px;
}
.imgContent p{
    font-size: 1.125rem;
    line-height: 1.667;
    font-weight: 400;
    margin-bottom: 30px;
    width: 67%;
}
.imgContent a{
    color: #e7e6e3;
    width: 120px;
    height: 22px;
    margin: 10px auto;
}



.office-randomiser{
    padding: 50px;
   background: url('https://www.riotgames.com/assets/img/structure/7d776943173a38525a926c9d1cafde3c/texture-dark@2x.jpg');
   color: #e7e6e3;
}


.headriot h2{
    font-size: 4rem;
    line-height: 1.156;
    font-weight: 800;
    
    text-align: center;
}
.text-with-cta{
    position: relative;
}

.text-with-cta::before{
    content: ' ';
    width: 320px;
    height: 320px;
    position: absolute;
    right: 1px;
    top: 200px;
    background: url('https://www.riotgames.com/assets/img/content/ca6eef2806136dec721267fea0663d4e/sketch-office-randomiser.jpg') no-repeat center/cover;
}
.text-with-cta p{
    font-size: 1.375rem;
    line-height: 1.636;
    font-weight: 400;
    margin: 10px auto;
    padding-left: 20px;
    width: 70%;
}
.text-with-cta a{
    display: block;
    
    margin: 40px auto;
    width: 165px;
    height: 22px;
    z-index: 10;

}
.text-with-cta a:hover{
    
    transition: 0.5s;
}
.text-with-cta a::after{
    z-index: 1;
    
    background: rgba(231,230,227,0.7); 
}

.office-randomiser .content-center ul{
 /* border: 1px solid #000; */
 padding: 20px;
 width: 100%;
 position: relative;
}


.office-randomiser .content-center ul li{
    width: 65%;
    margin: auto;
    display: block;
    border-top: 3px solid #242323;
}
.office-randomiser .content-center ul li:last-child{
    border-bottom: 3px solid #242323;
}
.office-randomiser .content-center ul li:last-child:before{
    content: ' ';
    width: 40px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, .5);;
    border-radius: 50%;
    position: absolute;
    bottom: -30px;

}
.office-randomiser .content-center ul a{
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.office-randomiser .content-center ul a .img-box{
    overflow: hidden;
    width: 100%;
    flex:1;
    display: flex;

}
.office-randomiser .content-center ul a .img-box img{
    box-sizing: border-box;
    padding: 15px;
    width: 70%;
}
.office-randomiser .content-center ul a .location{
    flex:1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    

    font-size: 2.5em;
    
}
.office-randomiser .content-center ul li .location .city{
    margin-bottom: 20px;
}
.office-randomiser .content-center ul li .location .country{
    color: rgba(255, 255, 255, .5);
}

.office-randomiser .content-center ul a .positions{
    flex:1;
    display: flex;
    justify-content: center;

}


.workwithriot{
    width: 65%;
    margin: 50px auto;
    text-align: center;
}
.workwithriot h2{
    font-size: 4rem;
    line-height: 1.156;
    font-weight: 800;
    color: #2b2a29;
}
.workwithriot a{
    margin-bottom: ;
}